[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "<3"
docker = "<5"
pytest-selenium = "<2"
pytest = "<6"

[requires]
python_version = "3.7"
